@page
@model Verlofsite.Pages.Aanvragen.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Nieuwe aanvraag</h1>

<h4>vul gegevens in</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Aanvraag.StartDatum" class="control-label"></label>
                <input asp-for="Aanvraag.StartDatum" class="form-control" />
                <span asp-validation-for="Aanvraag.StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aanvraag.EindDatum" class="control-label"></label>
                <input asp-for="Aanvraag.EindDatum" class="form-control" />
                <span asp-validation-for="Aanvraag.EindDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aanvraag.Soort" class="control-label"></label>
                <select asp-for="Aanvraag.Soort" class="form-control">
                    <option>verlof</option>
                    <option>overuren</option>
                    <option>ADV</option>
                    <option>kleinVerlet</option>
                </select>
                <span asp-validation-for="Aanvraag.Soort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanvragen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
