@page
@model Verlofsite.Pages.Personeelsbeheer.Inschrijvingen.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Verwijder</h1>

<h3>Ben je zeker dat je deze inschrijving wil verwijderen?</h3>
<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inschrijving.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inschrijving.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inschrijving.Verlofpoule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inschrijving.Verlofpoule.VerlofpouleID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Inschrijving.InschrijvingID" />
        <input type="submit" value="verwijder" class="btn btn-danger" /> |
        <a asp-page="./Index">terug naar lijst</a>
    </form>
</div>
